.idea
__pycache__
.pytest_cache/
*.py[cod]
tests/my_db.db

.DS_Store

examples/multi-qubit/multiplexed-multilevel-NN-discriminator/try6/

examples/multi-qubit/multiplexed-multilevel-NN-discriminator/model.png

examples/multi-qubit/multiplexed-multilevel-NN-discriminator/try7/
examples/leakage-reduction/outcmaes/
/examples/randomized-benchmark/leakage-reduction/outcmaes/
