a2wsgi==1.10.8 ; python_version >= "3.9" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "3.13"
anyio==4.9.0 ; python_version >= "3.9" and python_version < "3.13"
appnope==0.1.4 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Darwin"
argcomplete==3.6.2 ; python_version >= "3.9" and python_version < "3.13"
asteval==1.0.6 ; python_version >= "3.9" and python_version < "3.13"
asttokens==3.0.0 ; python_version >= "3.9" and python_version < "3.13"
betterproto==2.0.0b7 ; python_version >= "3.9" and python_version < "3.13"
black==25.1.0 ; python_version >= "3.9" and python_version < "3.13"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "3.13" and implementation_name == "pypy"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "3.13"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.9" and python_version < "3.13"
contourpy==1.3.0 ; python_version == "3.9"
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.13"
datadog-api-client==2.33.1 ; python_version >= "3.9" and python_version < "3.13"
datamodel-code-generator==0.26.5 ; python_version >= "3.9" and python_version < "3.13"
debugpy==1.8.13 ; python_version >= "3.9" and python_version < "3.13"
decorator==5.2.1 ; python_version >= "3.9" and python_version < "3.13"
dependency-injector==4.46.0 ; python_version >= "3.9" and python_version < "3.13"
deprecation==2.1.0 ; python_version >= "3.9" and python_version < "3.13"
dill==0.3.9 ; python_version >= "3.9" and python_version < "3.13"
dnspython==2.7.0 ; python_version >= "3.9" and python_version < "3.13"
email-validator==2.2.0 ; python_version >= "3.9" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version <= "3.10"
executing==2.2.0 ; python_version >= "3.9" and python_version < "3.13"
fastapi==0.115.12 ; python_version >= "3.9" and python_version < "3.13"
fonttools==4.57.0 ; python_version >= "3.9" and python_version < "3.13"
genson==1.3.0 ; python_version >= "3.9" and python_version < "3.13"
grpcio==1.71.0 ; python_version >= "3.9" and python_version < "3.13"
grpclib==0.4.5 ; python_version >= "3.9" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.9" and python_version < "3.13"
h2==4.2.0 ; python_version >= "3.9" and python_version < "3.13"
hpack==4.1.0 ; python_version >= "3.9" and python_version < "3.13"
httpcore==1.0.7 ; python_version >= "3.9" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.9" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.9" and python_version < "3.13"
idna==3.10 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==8.6.1 ; python_version == "3.9"
importlib-resources==6.5.2 ; python_version == "3.9"
inflect==5.6.2 ; python_version >= "3.9" and python_version < "3.13"
ipykernel==6.29.5 ; python_version >= "3.9" and python_version < "3.13"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
ipython==8.18.1 ; python_version == "3.9"
ipython==8.35.0 ; python_version == "3.10"
ipython==9.1.0 ; python_version >= "3.11" and python_version < "3.13"
isort==5.13.2 ; python_version >= "3.9" and python_version < "3.13"
jedi==0.19.2 ; python_version >= "3.9" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.9" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.9" and python_version < "3.13"
jupyter-client==8.6.3 ; python_version >= "3.9" and python_version < "3.13"
jupyter-core==5.7.2 ; python_version >= "3.9" and python_version < "3.13"
kiwisolver==1.4.7 ; python_version == "3.9"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.13"
lmfit==1.3.3 ; python_version >= "3.9" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "3.13"
marshmallow-polyfield==5.11 ; python_version >= "3.9" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.9" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.9" and python_version < "3.13"
matplotlib==3.10.1 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.9.4 ; python_version == "3.9"
multidict==6.2.0 ; python_version >= "3.9" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "3.13"
networkx==3.2.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.9" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.9" and python_version < "3.13"
parso==0.8.4 ; python_version >= "3.9" and python_version < "3.13"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten" or python_version == "3.9" and sys_platform != "win32"
pillow==11.1.0 ; python_version >= "3.9" and python_version < "3.13"
platformdirs==4.3.7 ; python_version >= "3.9" and python_version < "3.13"
plotly==5.24.1 ; python_version >= "3.9" and python_version < "3.13"
prompt-toolkit==3.0.50 ; python_version >= "3.9" and python_version < "3.13"
protobuf==3.20.3 ; python_version >= "3.9" and python_version <= "3.10"
protobuf==4.25.6 ; python_version >= "3.11" and python_version < "3.13"
psutil==7.0.0 ; python_version >= "3.9" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten" or python_version == "3.9" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.9" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.13" and implementation_name == "pypy"
pydantic-core==2.33.1 ; python_version >= "3.9" and python_version < "3.13"
pydantic-settings==2.8.1 ; python_version >= "3.9" and python_version < "3.13"
pydantic==2.11.3 ; python_version >= "3.9" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "3.13"
pyparsing==3.2.3 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.13"
python-dotenv==1.1.0 ; python_version >= "3.9" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.9" and python_version < "3.13"
pywin32==310 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation != "PyPy" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.13"
pyzmq==26.4.0 ; python_version >= "3.9" and python_version < "3.13"
qm-octave==2.1.3 ; python_version >= "3.9" and python_version < "3.13"
qm-qua==1.2.2 ; python_version >= "3.9" and python_version < "3.13"
qualang-tools==0.19.3 ; python_version >= "3.9" and python_version < "3.13"
qualibrate-app==0.3.3 ; python_version >= "3.9" and python_version < "3.13"
qualibrate-config==0.1.3 ; python_version >= "3.9" and python_version < "3.13"
qualibrate-core==0.3.0 ; python_version >= "3.9" and python_version < "3.13"
qualibrate-runner==0.3.1 ; python_version >= "3.9" and python_version < "3.13"
qualibrate==0.2.0 ; python_version >= "3.9" and python_version < "3.13"
quam==0.3.10 ; python_version >= "3.9" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.9" and python_version < "3.13"
scikit-learn==1.6.1 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.13.1 ; python_version == "3.9"
scipy==1.15.2 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.9" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.9" and python_version < "3.13"
starlette==0.46.1 ; python_version >= "3.9" and python_version < "3.13"
tenacity==9.1.2 ; python_version >= "3.9" and python_version < "3.13"
threadpoolctl==3.6.0 ; python_version >= "3.9" and python_version < "3.13"
tinydb==4.8.2 ; python_version >= "3.9" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.9" and python_version <= "3.10"
tomli-w==1.2.0 ; python_version >= "3.9" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.9" and python_version <= "3.10"
tornado==6.4.2 ; python_version >= "3.9" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "3.13"
traitlets==5.14.3 ; python_version >= "3.9" and python_version < "3.13"
typeguard==4.4.2 ; python_version >= "3.9" and python_version < "3.13"
types-networkx==3.2.1.20240918 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.13.1 ; python_version >= "3.9" and python_version < "3.13"
typing-inspection==0.4.0 ; python_version >= "3.9" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.9" and python_version < "3.13"
uncertainties==3.2.2 ; python_version >= "3.9" and python_version < "3.13"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "3.13"
uvicorn==0.34.0 ; python_version >= "3.9" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "3.13"
xarray==2024.7.0 ; python_version == "3.9"
xarray==2025.3.1 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.21.0 ; python_version == "3.9"
