anyio==4.4.0
betterproto==2.0.0b6
certifi==2024.8.30
contourpy==1.3.0
cycler==0.12.1
datadog-api-client==2.28.0
dependency-injector==4.42.0
deprecation==2.1.0
fonttools==4.53.1
grpcio==1.66.1
grpclib==0.4.5
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
idna==3.10
joblib==1.4.2
kiwisolver==1.4.7
marshmallow==3.22.0
marshmallow-polyfield==5.11
matplotlib==3.8.0
multidict==6.1.0
numpy==1.26.4
packaging==24.1
pillow==10.4.0
plotly==5.24.1
protobuf==4.25.4
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
qm-octave==2.1.2
qm-qua @ file:///C:/Users/TheoQM/Downloads/qm_qua-1.2.1rc3-py3-none-any.whl#sha256=18f70017b4634769fb43714def7d12a58bbb367152b014bd4d2174707426651c
qualang-tools @ git+https://github.com/qua-platform/py-qua-tools@d6b617c0bdeb8dc89b3117ea28613772bcfd28c9
quam @ file:///C:/git/quam
rfc3986==1.5.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
tenacity==9.0.0
threadpoolctl==3.5.0
tinydb==4.8.0
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==2.2.3
