name: on-pull-request
on: [workflow_dispatch,pull_request]
jobs:
  check-python-formatting:
    env:
      POETRY_CACHE_FOLDER: '/home/runner/.cache/pypoetry/virtualenvs'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - uses: Gr1N/setup-poetry@v9
      - uses: actions/cache@v4
        with:
          path: |
            ${{ env.POETRY_CACHE_FOLDER }}
          key:  poetry-pr-${{ runner.os }}-${{ hashFiles('poetry.lock') }}

      - name: Install Dependnecies
        run: poetry install

      - name: Check Formatting
        run: poetry run poe check_format
